* {
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
}

body {
    padding: 20px;
}
p {
    margin-bottom: 20px;
}
label {
    display: inline-block;
    vertical-align: top;
}
.growarea {
    min-height: 35px !important;
    padding: 5px;
}