<html>
<head>
    <meta charset="UTF-8">
    <title>Vanilla UI - Calendar</title>

    <!-- Eric Meyer reset - not needed for calendar to work -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <!-- Minimal styles for calendar - required -->
    <link rel="stylesheet" href="css/vanilla-ui.calendar.css">
</head>
<body>

    <label for="startDate" class="label">From:</label>
    <div class="input date-input" style="position:relative;">
        
        <input id="startDate" class="" name="startDate" type="text" value="" onfocus="calendar.set(this);">
    
    </div>
    <!-- .input -->

    <label for="endDate" class="label">To:</label>
    <div class="input date-input" style="position:relative;">

        <input id="endDate" class="" name="endDate" type="text" value="" onfocus="calendar.set(this);">

    </div>
    <!-- .input -->

    <script src="js/vanilla-ui.calendar.js"></script>
</body>
</html>