body {
    padding: 20px;
}

/* Tab Button - Link */

.tab-list__item {
    display: inline-block;
    border: 1px solid #CCC;
    border-bottom: none;
    padding: 8px 10px;
    border-radius: 5px 5px 0 0;
    position: relative;
    z-index: 2;
    background-color: #F1F1F1;
    text-decoration: none;
    color: #333;
}


/* Tab Content Area */

.tab-panels {
    border-top: 1px solid #CCC;
    position: relative;
    top: -1px;
    z-index: 1;
}

.tab-panel {
    display: none;
    padding: 10px;
}

/* Current - Active State */

.tab-panel--current {
    display: block;
}

.tab-list__item--current {
    border-bottom: 1px solid #FFF;
    font-weight: bold;
    background: #FFF;
    cursor: default;
}

/* No JS styles */

.no-js .tab-panel {
	display: block;
}
.no-js .tab-list__item {
	border: none;
	background: none;
	color: blue;
}